#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
}

@media screen and (max-width: 700px) {
  #header span {
    display: none;
  }
}

@media screen and (max-width: 540px) {
  #header {
    padding: 0rem 2rem;
  }
  #header h2 {
    display: none;
  }
}
